---
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  send-alert:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4.6.1
        with:
          python-version: "3.11"
          cache: pip
      - name: Install requirements
        run: |
          pip install -r requirements.txt
      - name: Send notifications
        env:
          NTFY_TOPIC: ${{ secrets.NTFY_TOPIC }}
          LATITUDE: ${{ secrets.LATITUDE }}
          LONGITUDE: ${{ secrets.LONGITUDE }}
        run: |
          python3 main.py
